/venv/
/db.sqlite3
/static/
/start/migrations/
/npl_portfolio/migrations/
/sflp_portfolio/migrations/
/docs/build/
/.idea/
/openNPL/__pycache__/
/npl_portfolio/__pycache__/
/sflp_portfolio/__pycache__/
/start/__pycache__/
/.venv/