Django
djangorestframework
drf-yasg
django-model-utils
django-jazzmin
django-leaflet
django-json-widget
django-prettyjson
jsonfield
Markdown
django-markdownfield
django-treebeard
django-import-export
django-countries
behave-django
numpy
pandas
scipy
Pillow
tablib
setuptools