Django
djangorestframework
drf-yasg
django-model-utils
django-jazzmin
django-leaflet
django-countries
django-json-widget
django-prettyjson
jsonfield
Markdown
django-markdownfield
django-treebeard
django-import-export
behave-django
django-htmx
numpy
pandas
scipy
Pillow
tablib
setuptools