Django~=4.1.5
djangorestframework~=3.14.0
drf-yasg
django-debug-toolbar~=3.8.1
django-jazzmin
Sphinx
sphinx-rtd-theme
django-leaflet
django-json-widget
django-markdownfield
django-treebeard
django-import-export
django-prettyjson
django-countries
django-debug-toolbar
behave-django
numpy
pandas
scipy
jsonfield
Markdown
Pillow==9.4.0
tablib~=3.3.0
setuptools~=65.6.3
django-model-utils~=4.3.1