{% extends "rest_framework/base.html" %}

{% load i18n static %}
{% load rest_framework %}

{% block extrastyle %}
    <link href="{% static 'start/css/styling.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'start/img/favicon.ico' %}"/>
{% endblock %}

{% block title %}OpenNPL API{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href='https://www.openriskmanagement.com/documentation/opennpl/'>
    openNPL API
</a>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}